---
import AddAgentForm from '../components/AddAgentForm.tsx'
import AddBgProcessForm from '../components/AddBgProcessForm.tsx'
import AgentList from '../components/AgentList.tsx'
import AddProjectForm from '../components/AddProjectForm.tsx'
import ProjectList from '../components/ProjectList.tsx'
import ScheduleList from '../components/ScheduleList.tsx'
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>tmux Conductor Dashboard</title>
  </head>
  <body>
    <AddAgentForm client:load />
    <AddProjectForm client:load />
    <ProjectList client:load />
    <AddBgProcessForm client:load />
    <AgentList client:load />
    <ScheduleList client:load />
  </body>
</html>
